// Помощники
@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

//Общее
@import 'main/stylesheet';// шрифты
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2.1rem;
}

// .item {
//     background-size: cover;
//     background-position: center;
//     // width: 35rem;
//     // height: 27.2rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-end;
//     padding-bottom: 2.1rem;
//     min-height: 27.2rem;
//     max-width: 31.5%;
//     flex: 1 0 31.5%;
// }

// .item--one {
//     background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.7) 18.75%, rgba(0, 0, 0, 0) 88.24%), url(../imgs/first-news.png);
//     transition: transform 0.3s ease;

//     &:hover {
//     transform: scale(1.1);
//     }
// }

// .item--two {
//     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 18.75%, rgba(0, 0, 0, 0) 88.24%), url(../imgs/second-news.png);
//     // background-position: center right;
//     transition: transform 0.3s ease;

//     &:hover {
//         transform: scale(1.1);
//         }
// }

// .item--three {
//     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 18.75%, rgba(0, 0, 0, 0) 88.24%), url(../imgs/third-news.png);
//     transition: transform 0.3s ease;

//     &:hover {
//         transform: scale(1.1);
//         }
// }

.breadcrumbs-list-link {
    font-size: 1.3rem;
    line-height: 1.23;
    /* identical to box height, or 123% */
    color: $c-text;
    border-bottom: 1px solid #C8D0CE;
}

.breadcrumbs-list-link--hidden {
    font-size: 1.3rem;
    line-height: 1.23;
    /* identical to box height, or 123% */
    color: $c-text;
    border-style: hidden;
    pointer-events: none;
}

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
@import 'components/header';
@import 'components/main-section';
@import 'components/citation';
@import 'components/features';
@import 'components/news';
@import 'components/instagram';
@import 'components/footer';