@import "../utils/parameters";
@import "../utils/mixins";

.features {
    padding-top: 28.6rem;
    padding-bottom: 16.5rem;
    position: relative;
    z-index: 2;
    
    &__row {
        display: flex;
    }

    &__content {
        flex: 1 0 51.4%;
        max-width: 51.4%;
        padding-top: 7.1rem;
        max-height: 63.2rem;
        overflow: auto;
    }

    &__title {
        font-family: Podkova;
        font-style: normal;
        font-weight: 800;
        font-size: 3.6rem;
        line-height: 1.33;
        /* identical to box height, or 133% */
        letter-spacing: -0.04em;
        color: $c-text;
        margin-bottom: 2.7rem;
    }

    &__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 1.6rem;
        max-width: 44.5rem;
    }

    &__item-img {
        margin-right: 0.65rem;
        max-width: 100%;
    }

    &__item-txt {
        font-size: 1.6rem;
        line-height: 1.25;
        /* identical to box height, or 125% */
        letter-spacing: -0.02em;
        color: $c-text;
    }

    &__img {
        flex: 1 0 48.6%;
        max-width: 48.6%;
        background: url("../imgs/features.jpg") center no-repeat;
        background-size: cover;
        height: 59.2rem;
        transform: translate(0, 1rem);
    }

    // &__img-photo {
    //     position: relative;
    //     top: 0.8rem;
    //     max-width: 100%;
    // }
}

@media screen and (max-width: $md) {
    .features {
        padding-top: 38rem;
        padding-bottom: 13rem;
        
        &__row {
            align-items: center;
        }

        &__content {
            padding-top: 0;
        }

        &__img-photo {
            position: relative;
            top: 0;
        }
    }
}

@media screen and (max-width: $sm) {
    .features {
        padding-top: 54rem;
    }
}

@media screen and (max-width: $xs) {
    .features {
        margin-top: -80rem;
        padding-bottom: 19rem;

        &__row {
            display: block;
        }

        &__content {
            flex: 1 0 100%;
            max-width: 100%;
            padding-top: 7.1rem;
            margin-bottom: 7rem;
        }

        &__img {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }
}

