section.citation
    .container.citation__row 
        img.citation__img(src="./assets/imgs/owner.jpg", alt="owner")
        div.citation__context 
            h2.citation__txt «Мы — команда профессионалов, которая работает над тем, чтобы сделать фитнес образом жизни каждого!»
            p.citation__caption Основатель фитнес клуба FIT LIFE, Дмитров П.А.
