include ../mixins/_features

section.features 
    .container.features__row 
        .features__content 
            h2.features__title Преимущества зала
            +features ({
                txt: "Фитнес-клуб площадью 1400 кв.м."
            })
            +features ({
                txt: "Тренажёрный зал 500 кв.м., оснащенный современными тренажерами."
            })
            +features ({
                txt: "Более 15 различных фитнес-программ (групповых занятий), как классических, так и уникальных."
            })
            +features ({
                txt: "Зона бокса в свободном доступе. Персональные и групповые тренировки по единоборствам."
            })
            +features ({
                txt: "Питьевая вода, Wi-Fi, TV, комфортные раздевалки и душевые для максимального удобства, шкафчики в постоянную аренду."
            })
        .features__img 
            //- img.features__img-photo(src="./assets/imgs/features.jpg", alt="gym")