header.header 
    .header__top-block
        .container.header__top-block-inner
            .header__location
                img.header__location-img(src="./assets/imgs/icon-location.svg", alt="icon-location") 
                p.header__txt г. Минск, пр-т. Дзержинского, 19
            .header__time-phone
                p.header__txt Пн-Вс 7:00-23:00 
                .header__phone
                    img.header__phone-img(src="./assets/imgs/icon-phone.svg", alt="icon-phone")
                    a.header__phone-link(href="tel:+375 (44) 1-222-999") +375 (44) 1-222-999
    .header__bottom-block 
        .container.header__bottom-block-inner 
            a.header__logo(href="#")
                img.header__logo-img(src="./assets/imgs/logo.svg", alt="logo")
            nav.header__nav 
                ul.header__nav-list
                    li.header__nav-list-item 
                        a(href="#")
                            span О клубе
                            img.header__dropdown(src="./assets/imgs/polygon.svg", alt="dropdown")
                    li.header__nav-list-item
                        a(href="#") Групповые тренировки
                    li.header__nav-list-item 
                        a(href="#") 
                            span Тренажерный зал
                            img.header__dropdown(src="./assets/imgs/polygon.svg", alt="dropdown")
                    li.header__nav-list-item 
                        a(href="#") Цены 
                    li.header__nav-list-item 
                        a(href="#") Расписание 
                    li.header__nav-list-item
                        a(href="#") Контакты
            div.header__account
                a.header__account-link(href="#") Личный кабинет
    .header__breadcrumbs
        .container
            ul.header__breadcrumbs-list 
                li.header__breadcrumbs-list-item 
                    a.breadcrumbs-list-link(href="#") Home
                li.header__breadcrumbs-list-item 
                    a.breadcrumbs-list-link(href="#") Home
                li.header__breadcrumbs-list-item 
                    a.breadcrumbs-list-link(href="#") Home
                li.header__breadcrumbs-list-item 
                    a.breadcrumbs-list-link(href="#") Home
                li.header__breadcrumbs-list-item 
                    a.breadcrumbs-list-link--hidden(href="#") Home