section.instagram 
    .container.instagram__title 
        h2.instagram__title-instagram Мы в Instagram
    div.instagram__imgs
        img.instagram__img(src="./assets/imgs/instagram-photos.jpg", alt="instagram-photos")