section.instagram 
    .container.instagram__title 
        h2.instagram__title-instagram Мы в Instagram
    div.instagram__imgs
        picture
            source(srcset="./assets/imgs/instagram-photos_576px.jpg" media="(max-width: 575px)")
            img.instagram__img(src="./assets/imgs/instagram-photos.jpg", alt="instagram-photos")
        //- .instagram__img1
        //- .instagram__img2
        //- .instagram__img3
        //- .instagram__img4
        //- .instagram__img5
        //- .instagram__img6
        //- .instagram__img7

