section.main-section 
    .container
        .main-section__inner
            h1.main-section__title Fit Life — фитнес-клуб в центре Минска
            a.main-section__link(href="#") Записаться на бесплатное занятие
        include citation