section.news 
    .container 
        .news__content
            h2.news__title Новости
            .news__all-news
                a.news__link(href="#") Все новости
            .news__imgs1
            .news__link1
                a.news__item(href="#")
                    .news__item-content
                        h3.news__item-txt Какие ошибки в спортзале ведут к травмам?
                    .news__item-dates
                        p.news__item-date 14.12.2020
            .news__imgs2
            .news__link2
                a.news__item(href="#")
                    .news__item-content
                        h3.news__item-txt Эффективны ли скручивания на пресс?
                    .news__item-dates
                        p.news__item-date 14.12.2020
            .news__imgs3
            .news__link3
                a.news__item(href="#") 
                    .news__item-content
                        h3.news__item-txt Удар по здоровью: как возвращаться к тренировкам после коронавируса?
                    .news__item-dates
                        p.news__item-date 14.12.2020




        //- .news__titles 
        //-     h2.news__title Новости
        //-     a.news__link(href="#") Все новости
        //- .news__content
        //-     a.item.item--one(href="#")
        //-         .news__item-content
        //-             h3.news__item-txt Какие ошибки в спортзале ведут к травмам?
        //-             .news__item-dates
        //-                 p.news__item-date 14.12.2020
        //-     a.item.item--two(href="#")
        //-         .news__item-content
        //-             h3.news__item-txt Эффективны ли скручивания на пресс?
        //-             .news__item-dates
        //-                 p.news__item-date 14.12.2020
        //-     a.item.item--three(href="#") 
        //-         .news__item-content
        //-             h3.news__item-txt Удар по здоровью: как возвращаться к тренировкам после коронавируса?
        //-             .news__item-dates
        //-                 p.news__item-date 14.12.2020

