//GRID
//точки адаптива
$lg: 1140px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: rgba(25, 133, 102, 1);//основной цвет макета
$c-secondary: rgba(241, 244, 243, 1);//дополнительный цвет макета
$c-text: rgba(34, 42, 40, 1);//основной цвет текста макета
$c-text2: rgba(92, 102, 99, 1);//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: Arial, sans-serif;//основной
$headers-font: Podkova, serif;//для заголовков
// $secondary-font: 'Open Sans', sans-serif;//дополнительный
